[color]
  ui = true
[user]
	name = Nayed Saïd Ali
	email = nayed.saidali@gmail.com
[credential]
  helper = cache --timeout=2678400
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
