.config/fish/api_env.fish
.config/fish/fish_variables
.config/fish/omf.fish
.DS_Store
.elixir_ls
.local/share/nvim/view
.netrwbook
.netrwhist
.vim/autoload/plug.vim
.vim/plugged
.vim/sessions
.vim/view
fishd.*
conf.d
