[color]
  ui = true
[user]
  name = Nayed Saïd Ali
  email = nayed.saidali@gmail.com
[credential]
  helper = cache --timeout=2678400
[alias]
    aa = add --all
    sb = status -sb
    st = status
    cm = commit -m
    pl = pull
    ps = push
    co = checkout
