[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
  url = https://github.com/VundleVim/Vundle.vim
[submodule "neovim/.vim/bundle/neobundle.vim"]
	path = neovim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
